{% extends "layout/base.html" %} 

{% load static %} 

{% block content %}

<div class="row mb-4">
    <p class="d-inline-flex gap-1">
        <a class="btn btn-outline-primary" href="{% url 'book-create-view' %}">
          <i class="bi bi-plus-lg me-1"></i>
          Add New
        </a>
    </p>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card card-primary card-outline mb-4">
            <div class="card-header"><h3 class="card-title">Books Table</h3></div>
            <!-- /.card-header -->
            <div class="card-body">
            <table class="table table-bordered table-striped" role="table">
                <thead class="table-dark">
                <tr>
                    <th style="width: 10px" scope="col">#</th>
                    <th scope="col">Book Title</th>
                    <th scope="col">Author</th>
                    <th scope="col">Publisher</th>
                    <th scope="col">Published</th>
                    <th style="width: 40px" scope="col">Opts</th>
                </tr>
                </thead>
                <tbody>
                {% for book in books %}
                <tr class="align-middle">
                    <td>{{ book.id }}.</td>
                    <td>{{ book.title }}</td>
                    <td>{{ book.author }}</td>
                    <td>{{ book.publisher }}</td>
                    <td>{{ book.published_date.year }}</td>
                    <td>
                        <div class="btn-group btn-group-sm" role="group">
                            <a href="{% url 'book-update-view' pk=book.pk %}" class="btn btn-outline-primary"><i class="bi bi-pencil"></i></a>
                            <a href="{% url 'book-delete-view' pk=book.pk %}" class="btn btn-outline-danger"><i class="bi bi-trash"></i></a>
                        </div>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            </div>
            <!-- /.card-body -->
            <div class="card-footer clearfix">
            <ul class="pagination pagination-sm m-0 float-end">
                <li class="page-item"><a class="page-link" href="#">«</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">»</a></li>
            </ul>
            </div>
        </div>
        <!-- /.card -->
    </div>
</div>

{% endblock content %}