{% extends "layout/base.html" %} 

{% load static %} 

{% block content %}

<div class="row w-100">
  <div class="col-12 mb-4">
    <p class="d-inline-flex gap-1">
      <a class="btn btn-outline-primary" href="{% url 'users-view' %}">
        <i class="bi bi-box-arrow-left me-1"></i>
        Back to Users
      </a>
    </p>
  </div>
</div>

<div class="container d-flex flex-column justify-content-center align-items-center">
  <div class="row justify-content-center w-100">
    <div class="col-md-6">
      <div class="card card-primary card-outline mb-4">
        <div class="card-header">
          <div class="card-title">{{ page_name }}</div>
        </div>
        <form method="post">
          {% csrf_token %}
          <div class="card-body">
            <div class="mb-3">
              <label for="{{ form.first_name.id_for_label }}" class="form-label">First Name</label>
              {{ form.first_name }}
            </div>
            <div class="mb-3">
              <label for="{{ form.last_name.id_for_label }}" class="form-label">Last Name</label>
              {{ form.last_name }}
            </div>
            <div class="mb-3">
              <label for="{{ form.username.id_for_label }}" class="form-label">Username</label>
              {{ form.username }}
            </div>
            <div class="mb-3">
              <label for="{{ form.email.id_for_label }}" class="form-label">Email</label>
              {{ form.email }}
            </div>
          </div>
          <div class="card-footer">
            <button type="submit" class="btn btn-outline-primary">
              <i class="bi bi-floppy me-1"></i>
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
